ul.socials
  li.item
    a(
      href="",
      target='_blank')
      img(src="./assets/img/icons/socials/icon-vk.svg", alt="icon")
  li.item
    a(
      href="",
      target='_blank')
      img(src="./assets/img/icons/socials/icon-fb.svg", alt="icon")
  li.item
    a(
      href="",
      target='_blank')
      img(src="./assets/img/icons/socials/icon-insta.svg", alt="icon")
  li.item
    a(
      href="",
      target='_blank')
      img(src="./assets/img/icons/socials/icon-whatsup.svg", alt="icon")