ul.socials
  li.item
    a(
      href="https://vk.com/doctor.altmark",
      target='_blank')
  li.item
    a(
      href="https://www.facebook.com/doctor.altmark/",
      target='_blank')
  li.item
    a(
      href="https://www.instagram.com/doctor_altmark/",
      target='_blank')
  li.item
    a(
      href="https://wa.me/79291112233",
      target='_blank')