ul.socials
  li.item
    a(
      href="https://vk.com/",
      target='_blank')
  li.item
    a(
      href="https://www.facebook.com/",
      target='_blank')
  li.item
    a(
      href="https://www.instagram.com/",
      target='_blank')
  li.item
    a(
      href="https://wa.me/79291112233",
      target='_blank')